.editclick {
	position:absolute;
	z-index:1000;
	cursor:pointer;	
}

body {
background: url("../images/bg.png") repeat scroll 0% 0% transparent;
font-family: "Cabin",sans-serif;
font-weight: 600;
color: #959DA6;
font-size: 14px;
position: relative;
}

#logo {
	margin-right:10px;	
	margin-top:-4px;
}

.domoticz {
	color:#B9B9B9
}

.row.dashboard > div {
	height:150px;	
}

.btn-group{
margin-top: -88px;
}

.btn-default{
color: #fff;
background-color: #1f2329;
border-color: #1f2329;
}

.btn-default.active, .btn-default:hover{
color: #fff !important;
background-color: #515559 !important;
border-color: #515559 !important;
}

.modal-content {
    background-color: #13171d;
	border: 1px solid #959da6;
}
.modal-content .modal-footer,
.modal-content .modal-header{
	background-color: #282e36;
}

.modal-content .modal-header {
	border-bottom: 1px solid #959da6;
}
.modal-content .modal-footer {
	border-top: 1px solid #959da6;
}
.close {
    color: #959da6;
}

i{
	position: relative;
	top: 0px;
	left: 0px;
	display: inline-block;
	overflow: hidden;
	text-decoration: none;
	font-style: normal;
	background-repeat: no-repeat;
	margin-right: 15px;
	top: 5px !important;
}

b, strong {
    font-weight: 600;
}

ul{
	list-style: outside none none;
}
.navbar {
	background-color:#525b68;	
	border-bottom:1px solid #ddd;
	color:#ddd;
}

.navbar .navbar-brand {
	display:none;	
}
.navbar-nav #logo {
	margin-top:5px;
}

.navbar-nav li {
	font-size:12px;	
}
.navbar-default .navbar-nav > li > a > i {
	margin-right:0px;	
}

.navbar-default .navbar-nav > li > a {
    margin-left: 16px;
    margin-top: 7px;
    padding: 0;
	color:#ddd;
}
.navbar-default .navbar-nav > li > a:hover {
	color:#fff;
}
.navbar-nav li a .menu-item {
    display: block;
    float: right;
    margin-left: 10px;
    margin-top: 8px;
}
.navbar-nav li.note div {
    margin-top: 12px;
    padding: 0;
	margin-left:15px;
	color:#fff;
}
.navbar-nav li.note a {
	color:#fff;
}
.navbar-nav li.note div#traffic {
	margin-top:8px;	
}
.navbar-nav li.note div span i.fa {
	font-size: 19px;
	margin-right:0px;
	top:2px !important;
	line-height:none;
	padding-right:15px;
}

.navbar-nav li.note div span i.fa.fa-stack-2x {
	line-height:none;
}

@media screen and (max-width: 775px) {
	.navbar .version {
		color:#fff;	
		font-size:12px;
		margin-left:28px;
	}
	.navbar .navbar-brand {
		display:block;	
	}
	.navbar-nav li {
		clear:Both;	
	}
	.navbar-nav li a .menu-item {
		float: left;
	}
	.navbar-nav li a i.fa {
		float: left;
	}
	.navbar-nav {
		float:left;	
	}
	.navbar-nav.navbar-right{
		float:right;	
	}
	
	.navbar-nav.navbar-right li.note {
		float:left;
		clear:none;
	}
	.navbar-nav #logo,.navbar-nav .version {
		display:none;
	}
	
	.navbar-brand {
    padding-top: 7px;
	}
}
#wrapper {
	width: 100%;
	height: 100%;
}

#page-wrapper {
    padding: 15px;
	padding-top:83px;
}

div.fl-left { float:left }
div.fl-right { float:right }
.fa-moon-o {
	font-size:24px;
	margin-top:-1px;
}
.fa-sun-o {
	color:#FEDB66;
	font-size:24px;
	margin-top:-1px;
}

span#settings {
	border-left:1px solid #000;
	padding-left:10px;
	margin-left:10px;
	font-size:16px;
}

span#editmode {
	border-left:1px solid #000;
	padding-left:10px;
	margin-left:10px;
	font-size:16px;
}

.row div.huge {
	font-size:25px;	
}
.row #xbmc-playing div.huge {
	font-size:21px;	
}

.panel .panel-footer {
	border-top:0px;
	text-transform:uppercase;
}

.panel > .panel-heading {
    color: #888888;
	height: 73px;
	overflow: hidden;
	padding:5px 11px;
}

.row.xbmc .panel > .panel-heading {
	height:auto;
	padding:0px;
}

.panel > .panel-heading.graph {
	font-size: 17px;
}


.device-active {
	color:#515559 !important;
}

.device-inactive {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
	opacity: 0.3;
}

.icon .fa.fa-lightbulb-o {
	margin-right:12px;	
}
.icon .fa.fa-desktop {
    margin-top: 6px;
}
.icon .fa.fa-cloud{
	margin-left:-7px;	
}

.slider.slider-horizontal {
    height: 13px;
    width: 100% !important;
	margin-top: 25px;
}

.small{
margin-top: 2px;
float: right;
}

.icon i.fa { font-size:55px; }
.icon i.wi { font-size:40px; margin-top:12px;}

.icon i.wi.wi-thermometer {
	margin-top:0px;
	font-size:55px;
	margin-right:18px;
	color: #959da6;
}

#wunderground {
	font-size:13px;	
}

.panel-heading.nodetails {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
	height:113px;
	border:0px;
	background-color:#F5F5F5;
}
@media (max-width: 1405px) {
	#wunderground {
		font-size:12px;	
	}
}
@media (max-width: 1060px) {
	#wunderground {
		font-size:11px;	
	}
}
@media (max-width: 900px) {
	body {
		font-size:11px;	
	}
	#wunderground {
		font-size:10px;	
	}
	
	#page-wrapper {
		padding: 15px;
		padding-top:70px;
	}
	div.fl-right,
	div.fl-left {
		float:none;	 
	}
	.icon i.fa { font-size:50px; }
	
	.fa-moon-o {
		font-size:11px;margin-top:-1px;
	}
	.fa-sun-o {
		color:#FEDB66;font-size:11px;margin-top:-1px;
	}
	.row #xbmc-playing div.huge {
		font-size:15px;	
	}
	
	#icon_wg {
		width:45px;
		height:45px;	
	}
}

/* PRUSIA */
.icon{
	color: #1F2329;
}
.panel-default{
	background: url("../images/bg-widget2.png") repeat scroll 0% 0% transparent;
border-radius: 8px;
box-shadow: 5px 5px 22px -2px rgba(0, 0, 0, 0.5);
border-top: 1px solid #5E6771;
border-left: 1px solid #525B68;
}
.panel-default, .panel-default > .panel-heading {
 background-color: transparent !important;
 border-bottom: 0 !important;
 border-right: 0 !important;
}
.panel-default a, .panel-default a:focus, a:hover {
    color: #fff;
}

.col-xs-8{
	color: #D3D4D5;
}

.pull-left{
	color: #959DA6;
	width: 94%;
}

.pull-right i{
	color: #959DA6;
	font-size: 14px;
	margin-top: -3px;
	margin-right: 0;
}
.panel-default .panel-footer {
margin-top: 4%;
font-size: 11px;
z-index: 1000;
position: relative;
background-color: #1F2329;
width: 100%;
padding: 8px;
border-bottom-right-radius: 8px;
border-bottom-left-radius: 6px;
}


.device-online .panel-footer {
border-top: 1px green solid !important;
}

.device-offline .panel-footer {
border-top: 1px red solid !important;	
}

.slider-handle{
	background-image: linear-gradient(to bottom, #889399, #63686B);
	opacity: 1;
}

.slider-track{
	background: url("../images/bg-widget2.png") repeat scroll 0% 0% transparent;
}

.slider-selection{
	background-color: #515559 !important;
	box-shadow: 5px 5px 22px -2px rgba(0, 0, 0, 0.5);
	background-image: none !important;
}
